---
import { Image } from "astro:assets"
import { slugify, formatDate } from "../ts/utils"
const { category, title, designers, date, cover} = Astro.props
---

<header>
  <div class="container">
    <small>
      <a href={`/category/${slugify(category)}`} class="badge">{category}</a>
    </small>
    <h1 class="h2">{title}</h1>
    <p>by {designers.map((designer: string) => (
      <a href={`/designer/${slugify(designer)}`}>{designer}</a>
    ))} · {formatDate(date)}</p>
  </div>
</header>