---
import { Image } from "astro:assets"
import Link from "./Link.astro";
import { slugify, formatDate } from "../ts/utils"

const { project } = Astro.props
---

<article class="card">
  <small>
    <a href={`/category/${slugify(project.data.category)}`} class="badge">{project.data.category}</a>
  </small>
  <a href={`/projects/${slugify(project.data.title)}`}>
    <Image
      src={project.data.cover ?? "/assets/images/fallback-image.png"}
      alt="Project cover image"
      width="400"
      height="250"
      format="avif"
      fit="cover"
      quality={80}
    />
    <h3 class="my-1 py-2 text-2xl font-bold">{project.data.title}</h3>
    <p>by {project.data.designers.map((designer: string) => (
      <a href={`/designer/${slugify(designer)}`}>{designer}</a>
    ))} · {formatDate(project.data?.completionDate)}</p>
  </a>
  <Link href={project.data.url} text="Read more ..." style="secondary"/>
</article>

<style>

</style>