---
// component import
import MainHead from "./MainHead.astro"
import Nav from "../components/Nav.astro"
import Footer from "../components/Footer.astro"

const {
  title = "My Astro Blog",
  description = "My musings about the Astro framework",
	image,
	robots,
	project,
} = Astro.props;
---
<!doctype html>
<html lang="en" class="w-full h-full select-none">
	<MainHead {title} {description} {image} {robots} {project}/>
	<body class="flex flex-col min-h-screen w-full m-0">
		<Nav class="sticky top-0 z-50" />
		<main class="flex-grow">
			<slot />
		</main>
		<Footer class="mt-auto" />
	</body>
</html>

<script>
	function disableRightClick(e: MouseEvent) {
		e.preventDefault();
		return false;
	}

	function disableSelection(e: Event) {
		e.preventDefault();
		return false;
	}

	document.addEventListener('contextmenu', disableRightClick);
	document.addEventListener('selectstart', disableSelection);
	document.addEventListener('copy', disableSelection);
	document.addEventListener('dragstart', disableSelection);
</script>

<style is:global>
	img {
		-webkit-user-drag: none;
		-khtml-user-drag: none;
		-moz-user-drag: none;
		-o-user-drag: none;
		user-drag: none;
	}
</style>
