---
import { Image } from "astro:assets";

import type { Project, ProjectFrontmatter } from "../../types";
// component import
import PostHeader from "../components/PostHeader.astro";
import MainLayout from "./MainLayout.astro";
import CategoryCloud from "../components/CategoryCloud.astro";
import RelatedPosts from "../components/RelatedPosts.astro";

// utils imports
import { formatProjectPost } from "../ts/utils";


const allProjects = await Astro.glob("../pages/projects/*.md") as Project[];
const formattedPosts = formatProjectPost(allProjects, {
  sortByDate: false
});


const { frontmatter } = Astro.props
const {
  title, 
  description,
  date,
  category,
  designer,
  cover,
  images,
} = frontmatter as ProjectFrontmatter

const relatedPosts = formattedPosts.filter(
  (post) => post.frontmatter.category.toLowerCase() === category.toLowerCase() && post.frontmatter.title !== title
).slice(0,3)
---

<MainLayout {title} {description} image={frontmatter.cover} {frontmatter} robots={frontmatter.robots}>
  <PostHeader
    {title} {description} {date} {category} {cover} {designer}
  />
  <div class="project-content">
    <div class="content">
      {
        images?.map((img) => (<Image
          src={img.src}
          alt={img.alt}
          width="400"
          height="600"
          format="avif"
          loading="lazy"
          fit="cover"
          quality={80}
        />))
      }
    </div>
    <div class="content">
      <slot />
    </div>
    <div class="sidebar">
      <aside class="container" aria-label="Blog categories">
        <h2>Blog Categories</h2>
        <CategoryCloud />
      </aside>
      {
        relatedPosts.length > 0 && (
        <aside class="container" aria-label="Related posts">
          <h2>Related Posts</h2>
          <RelatedPosts {relatedPosts} />
        </aside>
        )
      }
    </div>
  </div>
</MainLayout>